<html>
<body>
	<table border>
	<tbody>

	<!-- ********************************************************* -->

	{{ .first }}, {{ .first | charcount }}
	{{ .third }}, {{ .third | charcount }}

	</tbody>
	</table>
</body>
</html>
