<html>
<body>

{{ with $x := 1 }}
{{ end }}
{{ with .ItemsList }}

		{{ range . }}
			<h2>{{ .Title }}</h2>
			<h3>{{ .Author }}</h3>
		{{ else }}
			passed list is empty
		{{ end }}
{{ end }}


</body>
</html>
