<html>
<body>

<table>
<tbody>
{{ with .ItemsList }}
		{{ range $index, $element := . }}
			<tr>
				<td>
					{{ $index }}
				</td>
				<td>
					{{ $element.Title }}
				</td>
				<td>
					{{ $element.Author }}
				</td>
			</tr>
		{{ else }}
			<tr>
				<td colspan="3">
					passed list is empty
				</td>
			</tr>
		{{ end }}
{{ end }}
</tbody>
</table>

</body>
</html>
