<html>
<body>
	<table border>
	<tbody>
	{{ with .ItemsList }}
			{{ range $index, $element := . }}
				{{ $element | printf "%s" }}
				{{ len $element.Title }}
			{{ else }}
				<tr>
					<td colspan="3">
						passed list is empty
					</td>
				</tr>
			{{ end }}
	{{ end }}
	</tbody>
	</table>
</body>
</html>
